
*.meta

Temp/*
Library/*

# ============ #
# Android #
# ============ #

.idea
.gradle
/local.properties
/.idea/workspace.xml
/.idea/libraries
.DS_Store
/build
/captures
local.properties
captures

spilSDK/.idea
*.iml
Tappy Plane Multi-Dex (Android)/.idea/workspace.xml
Tappy Plane Multi-Dex (Android)/.idea/misc.xml
Tappy Plane Multi-Dex (Android)/spilSDK.iml
spil-android-sdk.iml
.idea/compiler.xml
.idea/gradle.xml
.idea/modules.xml
.idea/encodings.xml


Tappy Plane Multi-Dex (Android)/build/*
Tappy Plane Multi-Dex (Android)/amazonAppStore/build/*
Tappy Plane Multi-Dex (Android)/facebookandroidwrapper000/build/*
Tappy Plane Multi-Dex (Android)/googleAIDL/build/*
Tappy Plane Multi-Dex (Android)/googlePlay/build/*
Tappy Plane Multi-Dex (Android)/common/build/*
ProjectVersion.txt
